.mail{
    justify-content: center;
    position: relative;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    flex-flow: column nowrap;
    display: none;
    z-index: 100;
    background: white;
    width: 95vw;
    height: 95vh;
    padding: 20px;

    .mail__label{
        color: var(--mainTextColor);
        font-family: var(--titleFont);
        font-size: 3rem;
    }

    .mail__input{
        padding: 1rem 1rem;
        color: var(--secondaryTextColor);
        font-size: 1.5rem;
        margin: 20px 0;
        border-radius: 3px;
        border: none;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }

    .mail__submit{
        padding: 1rem 1rem;
        background: var(--mainBg);
        border: none;
        color: var(--mainTextColor);
        font-size: 2rem;
        font-family: var(--heroFont);
        border-radius: 3px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        transform: rotate(-5deg);
        cursor: pointer;
        transition: all .2s ease;

        &:hover{
            background: var(--secBg);
        }
    }

    .close-button{
        position: absolute;
        top: 10px;
        right: 10px;
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 50%;
        background: none;
        cursor: pointer;

        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            height: 3px;
            width: 80%;
            background: lightgray;
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            height: 3px;
            width: 80%;
            background: lightgray;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

.mail--active{
    display: flex;
}