:root{
    --mainBg: hsl(318, 67%, 88%);
    --mainTextColor: hsl(214, 73%, 67%);
    --secondaryTextColor: hsl(214, 91%, 79%);

    --heroFont: 'Lobster', cursive;
    --titleFont: 'Staatliches', cursive;
    --mainFont: 'Roboto', sans-serif;
}